@model Web.Models.Home.HomeAdminViewModel

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Add new user</legend>
        <div>
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            @Html.LabelFor(m => m.UserRole)
            @Html.DropDownListFor(m => m.UserRole, Model.Roles)
            @Html.ValidationMessageFor(m => m.UserRole)
        </div>
        <div>
            @Html.ValidationSummary(true)
        </div>
        <button type="submit">Submit</button>
    </fieldset>
}

@Html.Partial("_AccountsPartial", Model.AccountsModel)